<html>
<head>
    <title>Early European Books - About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='web.css') }}">
</head>

<body>

	<div class="topnav">
		<a href="http://perlman.mathcs.carleton.edu:{{ port }}/?">Home</a>
		<a class ="active" href="http://perlman.mathcs.carleton.edu:{{ port }}/about?">About</a>
		<a href="http://perlman.mathcs.carleton.edu:{{ port }}/advancedSearch?">Advanced Search</a>
		<a href="http://perlman.mathcs.carleton.edu:{{ port }}/source">Source</a>
	</div>

	<h1>About this Project</h1>

<div>

<h2>About Us</h2>

<p>
	We are Computer Science students and this is our first time designing a web page with a complex front and back-end.
    We are using the Early European Books dataset to create a web page that allows users to search for books and view the results.
</p>
</div>

<div>
	<h2>Some Print History</h2>
	<p> 
		It began in the 1450s when Johannes Gutemberg created the printing press. 
		The invention of the printing press changed history. 
		With the production of the first Bible between 1453 and 1456 using movable-type printing technology, Johann Gutenberg started a revolution and helped the diffusion of culture. 
		The first books produced using the printing press are called Incunabula.
	</p>
</div>

<div>
	<h2>About the Data</h2>
	<p>
		The Early European Books (EEB) dataset is a collection of books published in Europe between 1440 and 1800. 
		The books are distrbuted in twenty-five different collections; for this project, we are only focusing on 
		the first collection. It contains over 2500 digitized books, published between 1482 and 1752 in fourteen different countries and ten languages.
		We downloaded the data on January 17, 2023, using ProQuest.
	</p>

</body>

</html>