<html>
<head>
	<title>Source</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='web.css') }}">

</head>

<body>

<div class="topnav">
	<a href="http://perlman.mathcs.carleton.edu:{{ port }}/?">Home</a>
	<a href="http://perlman.mathcs.carleton.edu:{{ port }}/about?">About</a>
	<a href="http://perlman.mathcs.carleton.edu:{{ port }}/advancedSearch?">Advanced Search</a>
	<a class = "active" href="http://perlman.mathcs.carleton.edu:{{ port }}/source">Source</a>
</div>

<h1>Source</h1>

<div>

    <h2> More About this Data </h2>

    <p>
		
        <b>Authorship:</b> 
		The dataset was developed by ProQuest. 
		<br> <br>

        <b>Date of download: </b> January 17th, 2023
        <br> <br>

        <b>Name/Version of dataset:</b> 
		Early European Books, Complete collection 
		<br> <br>

        <b>Time period, geography, and/or scope covered:</b>
		The data covers (roughly) from 1440 (beginning of printing in Europe) through the edn of the XVII century. Only covers print in europe.
        <br> <br>

        <b> Data formats: </b> 
		The dataset is only available as an Excel Document. 
		<br> <br>

        <b> Term of Use: </b> 
		Use of the data for illegal purposes is prohibited.
		Otherwise, there are no restrictions for use.
		<br> <br>

		<b> Links: </b>

		<ul>
			<li>
				<a href = "https://www.proquest.com/eeb/databases/advanced?accountid=9892"><b>To Download</b> </a>
			</li>
			<li>
				<a href = "https://www.proquest.com/eeb/productfulldescdetail/advanced" > <b>To dataset overview information</b> </a>
			</li>
			<li>
				<a href = "https://www.proquest.com/eeb/productfulldescdetail?accountid=9892" > <b>To Location technical documentation</b> </a>
			</li>
		</ul>
		
	</p>

</div>

</body>
</html>